<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/src/source.js"></script> 
    <link rel="stylesheet" href="/style/output.css" />
    <title>WebSockets Shenanigan</title>
</head>

<body>
    <h1>websocket are cool</h1>
    <div id="display" class="w-[100rem] h-[50rem] mx-10 my-10 bg-red-200">
        display
    </div>
    <form id="msgForm" class="mx-10 border-black font-thin text-4xl">
        <input id="msgInput" name="message" placeholder="Message" type="text" />
        <button id="sendMsgBtn" type="submit">Enviar Mensagem</button>
    </form>
</body>

</html>
