{{ define "nav" }}

<style>
    .navbar {
        width: 60dvw;
        border-top: solid var(--primary);
        border-bottom: solid var(--primary);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .navlink {
        margin: 0.5rem;
        padding: 0.5rem;
        color: var(--accent);
        text-decoration: none;
        font-size: 2rem;
        border-radius: 10px;
    }

    .navlink:hover,
    .navlink:focus {
        color: var(--accent-darker);
    }

    .active {
        color: var(--text);
        background: var(--accent);
    }

    .active:hover,
    .active:focus {
        color: var(--text);
        background: var(--accent);
    }
</style>

<nav class="navbar">
    <a href="/about" class={{ if (eq .Location "/about" ) }} "navlink active" {{else}} "navlink" {{ end }}> /About </a>
    <a href="/exp" class={{ if (eq .Location "/exp" ) }} "navlink active" {{else}} "navlink" {{ end }}> /Experiência </a>
    <a href="/projects" class={{ if (eq .Location "/projects" ) }} "navlink active" {{else}} "navlink" {{ end }}> /Projetos </a>
    <a href="/config" class={{ if (eq .Location "/config" ) }} "navlink active" {{else}} "navlink" {{ end }}> /Configurações </a>
</nav>
{{ end }}
